:root {
  --max-width: 90rem;
  --border-radius: 12px;

  --font-size-big: 48px;
  --font-size-sub: 18px;
  --font-size-normal: 16px;
  --font-size-small: 14px;

  --color-primary: #0099cc;
  --color-primary-hover: #00befd;
  --color-primary-push: #0081ac;
  --color-gray: #d8d8d8;
  --color-gray-b: #c3c3c3;
  --color-gray-ligth: #e3e3e3;
  --color-gray-dark: #a89fac;
  --color-black: #333333;
  --color-white: #ffffff;
  --color-white-b: #ededee;
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

@media (prefers-color-scheme: dark) {
  html.darkMode {
    color-scheme: dark;
    --color-primary: #ffffff;
    --color-primary-hover: #d6d6d6;
    --color-primary-push: #c4c4c4;
    --color-gray: #595959;
    --color-gray-b: #c3c3c3;
    --color-gray-ligth: #e3e3e3;
    --color-gray-dark: #adadad;
    --color-black: #333333;
    --color-white: #333333;
    --color-white-b: #d8d8d8;
    background-color: var(--color-white);
  }
}
