.container {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  margin: 0 auto;
  max-width: var(--max-width);
}

.borderB {
  border-bottom: 1px solid var(--color-gray);
}
.borderR {
  border-right: 1px solid var(--color-gray);
}

.wrapper {
  border-left: 1px solid var(--color-gray);
  border-right: 1px solid var(--color-gray);
}

.aboutMe {
  display: grid;
  grid-template: 1fr / repeat(3, 1fr);
}
.aboutMePicture {
}
.box {
  padding: 2rem;
}
.skills {
  display: grid;
  grid-template: 1fr / repeat(3, 1fr);
  gap: 2rem;
}
.skill {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  border: 1px solid var(--color-gray);
  border-radius: 10px;
  padding: 0.625rem;
}
.skill img {
  margin: 0 0 0.5rem;
}
.skill p {
  font-size: var(--font-size-small);
  line-height: var(--font-size-small);
}
.projectsBackground {
  padding: 2rem;
  background-image: url(../../public/background-projects.svg);
}
.projects {
  display: grid;
  grid-template: 1fr / repeat(3, 1fr);
  gap: 2rem;
}
.project {
  position: relative;
  display: flex;
  border-radius: 1rem;
  padding: 1.5rem;
  overflow: hidden;
}
.projectOverlay {
  position: absolute;
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  transition: all 0.25s ease-in;
}

.projectBody {
  z-index: 2;
}
.projectBody h3 {
  font-size: 2rem;
  line-height: 2rem;
  color: var(--color-black);
}

.project:hover .projectOverlay {
  opacity: 1 !important;
}

@media (max-width: 1280px) {
  .aboutMe {
    grid-template: 1fr / 55% 45%;
  }
  .aboutMeBox2 {
    border-right: none;
  }
  .aboutMeBox3 {
    border-top: 1px solid var(--color-gray);
    grid-column-start: 1;
    grid-column-end: 4;
  }
  .aboutMeImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
  }
}
@media (max-width: 980px) {
  .projects {
    grid-template: 1fr / repeat(2, 1fr);
  }
}
@media (max-width: 768px) {
  .container {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .box {
    padding: 2rem 1rem 0;
  }
  .aboutMe {
    display: flex;
    flex-direction: column;
  }
  .aboutMeImage {
    width: 300px;
    height: inherit;
    border-radius: 0;
  }
  .aboutMeBox1 {
    order: 2;
    border: none;
  }
  .aboutMeBox2 {
    order: 1;
  }
  .aboutMeBox3 {
    order: 3;
    border-top: none;
    padding-bottom: 2rem;
  }
  .projects {
    grid-template: 1fr / 1fr;
  }
  .projectsBackground {
    padding: 2rem 1rem;
  }
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  /* .card:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }

  .card:hover span {
    transform: translateX(4px);
  } */
}

@media (prefers-reduced-motion) {
  /* .card:hover span {
    transform: none;
  } */
}

/* Mobile */
@media (max-width: 700px) {
  /* .content {
    padding: 4rem;
  }

  .grid {
    grid-template-columns: 1fr;
    margin-bottom: 120px;
    max-width: 320px;
    text-align: center;
  }

  .card {
    padding: 1rem 2.5rem;
  }

  .card h2 {
    margin-bottom: 0.5rem;
  }

  .center {
    padding: 8rem 0 6rem;
  }

  .center::before {
    transform: none;
    height: 300px;
  }

  .description {
    font-size: 0.8rem;
  }

  .description a {
    padding: 1rem;
  }

  .description p,
  .description div {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
  }

  .description p {
    align-items: center;
    inset: 0 0 auto;
    padding: 2rem 1rem 1.4rem;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid rgba(var(--callout-border-rgb), 0.25);
    background: linear-gradient(
      to bottom,
      rgba(var(--background-start-rgb), 1),
      rgba(var(--callout-rgb), 0.5)
    );
    background-clip: padding-box;
    backdrop-filter: blur(24px);
  }

  .description div {
    align-items: flex-end;
    pointer-events: none;
    inset: auto 0 0;
    padding: 2rem;
    height: 200px;
    background: linear-gradient(
      to bottom,
      transparent 0%,
      rgb(var(--background-end-rgb)) 40%
    );
    z-index: 1;
  } */
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  /* .grid {
    grid-template-columns: repeat(2, 50%);
  } */
}

@media (prefers-color-scheme: dark) {
  /* .vercelLogo {
    filter: invert(1);
  }

  .logo {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  } */
}
/* 
@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
} */
